
		/* http://meyerweb.com/eric/tools/css/reset/
		   v2.0 | 20110126
		   License: none (public domain)
		*/

		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed,
		figure, figcaption, footer, header, hgroup,
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}
		/* HTML5 display-role reset for older browsers */
		article, aside, details, figcaption, figure,
		footer, header, hgroup, menu, nav, section {
			display: block;
		}
		body {
			line-height: 1;
		}
		ol, ul {
			list-style: none;
		}
		blockquote, q {
			quotes: none;
		}
		blockquote:before, blockquote:after,
		q:before, q:after {
			content: '';
			content: none;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}

		/* site styles */

		body {
			margin: 0;
		}

		.clear-fix {

		}

		h1 {
			font-family:'Lato', sans-serif;
			font-weight:lighter;
			font-size: 36px;
			color: #1A374D;
			font-weight: 700;
			line-height: 1.3em;
		}

		h2 {
			font-family:'Lato', sans-serif;
			font-weight:lighter;
			font-size: 26px;
			color: #1A374D;
			font-weight: 500;
			line-height: 1.2em;
		}

		h3 {
			font-family:'Lato', sans-serif;
			font-weight:lighter;
			font-size: 18px;
			color: #1A374D;
			margin:5px;
			font-weight: 400;
		
		}

		h4 {
			font-family:'Lato', sans-serif;
			font-weight:lighter;
			font-size:16px;
			color: #1A374D;
			line-height: 1.4em;
		}

		h5 {

		}

		h6 {

		}

		p {
			font-family: 'Merriweather', serif;
			font-weight:lighter;
		}

		p.chatter /*subhead*/{
			font-size: 15px;
			font-family: 'Merriweather', serif;
			font-weight: lighter;
			line-height: 1.7em;
		}

		p.blockquote {

		}

		p.caption {

		}

		p.byline {

		}

		p.source {

		}

		.tooltip{
			background-color:#fff;
			border:1px solid #D4D4D4;
			z-index:1000;
			box-shadow: 5px 5px 5px #D4D4D4;
			position:absolute;
			top:200px;
			left:100px;
			padding:15px;
		}

		.tooltip h2{
			font-size: 17px;
			font-family: 'Lato', sans-serif;
			font-weight: lighter;
			line-height: 1.5em;
			color:#3580C3;
		}

		.tooltip p{
			font-size: 13px;
			font-family: 'Merriweather', serif;
			line-height: 1.5em;
			color:#646464;
		}

		/*Regions*/

		.asia {
			fill: #1A374D;
		}

		.africa {
			fill: #C96916;
		}

		.europe {
			fill: #DAA520;
		}

		.sam {
			fill: #A4B48C;
		}

		/*Axis styles*/

		#chart .axis path {
			fill: none;
			stroke: grey;
			shape-rendering: crispEdges;
		}

		.axis text,
		.slider-axis text {
			fill: grey;
			font-size: 11px;
			font-family: "Gotham", sans-serif;
		}