h1 {
	position: absolute;
	right: 20px;
	bottom: 60px;
	width: 600px;
	font-family:'Lato', sans-serif;
	font-weight:lighter;
	font-size: 56px;
	color: rgba(255,255,255, 1);
	font-weight: 700;
	text-transform: uppercase;
	text-align: right;
	line-height: 1.1em;
	text-shadow: 1px 1px 3px #000000;
}

h2 {
	margin-bottom: 18px;
	font-family:'Lato', sans-serif;
	font-size: 34px;
	color: #1A374D;
	font-weight: 700;
	/*line-height: 1.2em;*/
}

h3 {
	margin-bottom: 12px;
	padding-top: 10px;
	font-family:'Lato', sans-serif;
	font-size: 18px;
	color: #1A374D;
	font-weight: 900;

}

h4 {
	font-family:'Lato', sans-serif;
	font-size:16px;
	color: #1A374D;
	/*line-height: 1.4em;*/
}

h5 {

}

h6 {

}

p {
	font-family: 'Merriweather', serif;
}

p.chatter /*subhead*/{
	font-size: 15px;
	font-family: 'Merriweather', serif;
	margin-bottom: 20px;
	line-height: 1.8em;
}

p.caption {

}

p.byline {

}

p.source {
	color: #646464;
	font-family: 'Merriweather', serif;
	font-size: 10px;
}

.tooltip{
	background-color:#fff;
	border:1px solid #D4D4D4;
	z-index:1000;
	box-shadow: 5px 5px 5px #D4D4D4;
	position:absolute;
	top:200px;
	left:100px;
	padding:10px 15px;
}

.tooltip h2{
	font-size: 17px;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	line-height: 1.5em;
	color:#3580C3;
}

.tooltip p{
	font-size: 13px;
	font-family: 'Merriweather', serif;
	line-height: 1.5em;
	color:#646464;
}

/*Regions*/

.asia {
	fill: #1A374D;
}

.africa {
	fill: #C96916;
}

.europe {
	fill: #DAA520;
}

.sam {
	fill: #A4B48C;
}

/*Axis styles*/

#chart .axis path {
	fill: none;
	stroke: #646464;
	shape-rendering: crispEdges;
}

.axis text,
.slider-axis text {
	fill: #646464;
	font-size: 11px;
	font-family: "Lato", sans-serif;
}

#xlabel{
	font-size: 12px;
	font-family: 'Merriweather', serif;
	font-weight: lighter;
	color: #646464;
	position:absolute;
	top:520px;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

#ylabel{
	font-size: 12px;
	font-family: 'Merriweather', serif;
	font-weight:lighter;
	text-align: left;
	line-height: 1.3em;
	width:100px;
	color: #646464;
	position:absolute;
	top: 0;
	left: 60px;
	font-weight: bold;
}

/* structures */

#nav {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #051521;
	z-index: 5;
}

.header {
	position: relative;
	width: 100%;
	height: 700px;
	padding-top: 50px;
}

.header img {
	position: fixed;
	width: 100%;
	z-index: -3;
}

.main {
	padding: 80px 0;
	background-color: #ffffff;
	background: url('../img/background4.png') repeat;
}

.main-content {
	margin: 0 auto;
	width: 620px;
}

.main-content p {
	margin-bottom: 20px;
	line-height: 2em;
}

.module {
	width: 100%;
	margin: 40px 0;
	padding: 40px 0;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	background-color: #ffffff;
}

.inner-module {
	width: 620px;
	margin: 0 auto;
}

.gallery {
	width: 100%;
	margin: 80px 0;
	overflow-x: scroll;
	white-space: nowrap;
}

.gallery img {
	display: inline-block;
	width: 650px;
	height: auto;
}

span.blockquote {
	display: block;
	float: right;
	margin-right: -100px;
	width: 300px;
	padding: 30px 0 30px 50px;
	color: #8c8c8c;
	font-size: 22px;
	font-family:'Lato', sans-serif;
	font-weight: 500;
	font-style: italic;
	line-height: 1.8em;
}

.embed-pic {
	float: right;
	margin-right: -200px;
	width: 470px;
	padding: 30px 30px 30px 30px;
}

.embed-pic .img-wrapper {
	padding: 10px;
	background-color: #ffffff;
	cursor: pointer;
}

.embed-pic .mask-wrapper {
	position: relative;
}

.embed-pic .img-mask {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.3);
	pointer-events: none;
}

.embed-pic .img-mask.mask-hidden {
	visibility: hidden;
}

.embed-pic img {
	width: 390px;
	height: auto;
	/*border: 3px solid #dcdcdc;*/
}

.embed-pic .embed-caption {
	margin: 8px 0 0 0;
	font-size: 12px;
	line-height: 1.5em;
}















