.int-wrap {
  background:#fff; 
  margin: 0 auto 20px; 
  padding: 0; 
  width: 100%; 
  max-width:1000px; 
  height:620px;
  border-top: 1px solid #a2a5a1;
  border-bottom: 1px solid #a2a5a1;
  position: relative;
}

#int-title h2{
  color: #3c3c3c;
  font-size: 30px;
  font-family: 'Futura Today Light','arial';
  font-weight: normal;
  margin: 15px 0 5px;
  text-transform: uppercase;
  text-align: center;
}

#int-subhead{
  color: #7c7c7c;
  font: normal 14px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto 20px;
  max-width: 830px;
  text-align: center;
}

.axis path,
.axis line {
  fill: none;
  /*stroke: #000;*/
  shape-rendering: crispEdges;
}

.axis text, .legend text {
fill: #3c3c3c;
/*font-size: 11px;
font-family: "Gotham", sans-serif;*/
}

.x.axis path {
  display: none;
}
 
.label {
  font: normal 12px/1.5 'Futura Today',sans-serif; 
  font-size:12px;
  text-anchor: end;
  color:#7c7c7c;
}

.bar {stroke-width:0.1px; stroke: #7c7c7c;}

.bulk-grains {fill: #DAA520;}
.corncornmeal {fill: #c96916;}
.emergency-pouches {fill: #646464;}
.flour {fill: #1A374D;}
.nonfat-dry-milk {fill: #c96916;}
.odd-commodities {fill: #ccc;}
.oil {fill: #5b9ac3;}
.peaslentilsbeans {fill: #A4B48C;}
.soy-preparations {fill: #485f71;}

.stacked {position:relative;}


#annotation {
  display: none;

}

#arrowup {
  position:absolute;
  top: 170px;
  left: 750px;
  width: 50px;
  height: 60px;
}

#arrowleft {
  position:absolute;
  top: 330px;
  left: 285px;
  width: 70px;
  height: 100px;
}

#arrowright {
  /* display: none; */
  position:absolute;
  top: 330px;
  left: 740px;
  width: 70px;
  height: 100px;
}

.text {
  width:300px;
  position:absolute;
  font-family: normal, "arial", "helvetica", sans-serif;
  color:#7c7c7c;
  font-weight: lighter;
  line-height: 1.3em;
}

#annotation-text {
  color: #7c7c7c;
  font: normal 14px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  top:400px;
  left:390px;
}

input[type="radio"]{
  margin:5px;
}

/*
#radio-text {
  font-size:16px;
  top: 210px;
  left: 665px;
}*/

form {
  float: right;
}
