#wrapper {
	width: 960px;
	height: 500px;
	margin: 60px auto 0 auto;
	color: #282828;
}
.fourth {display:block; width:24%; float:left; margin-left:10px;}

#graphic {margin-bottom:20px;}
#graphic img {width:85%; margin-left:15%;}


td {padding:7px; width:21%; border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5;}
td.label {width:10%;}
td h4{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: #1A374D;
}
td.end {border-right:none;}

tr.nutrition {background-color:#F5F5F5;}
tr.nutrition td {font-size:14px; font-family: "Oswald", sans-serif; text-align:right;}

p.body {
margin-bottom: 8px;
font-size: 13px;
font-family: 'Open Sans', serif;
/*font-weight: lighter;*/
color:#646464;
line-height: 1.65em;
}
