/* interactive */

#process {
	width: 960px;
	height: 500px;
	margin: 60px auto 0 auto;
	color: #1A374D;
}

#wrapper {
	margin: 10px 0;
}

/* map stuff */

#map {
	float: left;
	width: 72.6%;
	height: 500px;
	border: 1px solid #ccc;
	background: #C5D8E6;
	overflow: hidden;
	margin:0px !important;
}

path {
	fill: #EEEEEC;
}

.country, .state {stroke:#ccc;}
path .highlight {fill:#EEEEEC;}
.country.niger {fill:#ccc;}

path.boundary {
	fill: none;
	stroke: #ccc;
}

path.points {
	fill: none;
	stroke: #009BFF;
	stroke-width: 3px;
	stroke-linecap: round;
}

path.states {
	fill: none;
	stroke: #ccc;
}

.lake {fill:#C5D8E6;}

/* text area */

#text {
	float: left;
	width: 24%;
	margin:1% 0 1% 2%;
}

.slide-nav{
	cursor: pointer;
}

.slide-nav {
	background-image: url(images/USATArrows.png);

	display:block;
	float:none;
	height:68px;
	width:44px;
	position:absolute;
	right:auto;
	top:50%;

}

#steps {
	display: block;
	width: 270px;
	margin: 0 auto;
}

.circle {
	float: left;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	margin: 5px 10px;
	background:#ccc;
	/* width and height can be anything, as long as they're equal */
}

.step-active {
	background-color: #009BFF;
}

#headline {
	/*margin: 0px 0 5px 0;*/
	font-family:'Futura Today Bold', sans-serif;
	text-transform: uppercase;
}

#location {
	/*font-family: 'Oswald', sans-serif;
	font-weight: lighter;
	font-size: 16px;
	color: #1A374D;
	margin-bottom: 14px;
	line-height: 1.3em;*/
	font: normal 12px/1.5 'Futura Today Bold',sans-serif; 
	text-transform: uppercase;
	color: #009BFF;
	margin-bottom: 10px;
}

.body {
	/*margin-bottom: 8px;
	font-size: 13px;
	font-family: 'Merriweather', serif;
	font-weight: lighter;
	line-height: 1.65em;*/
	font: normal 12px/1.5 'arial','helvetica',sans-serif; 
	color: #515151;
}

/*progress bar*/

#progress-bar {
	position: relative;
	margin: 0 auto 15px auto;
	width: 100%;
	height:18px;
	background-color: #ccc;
	border-radius:8px;
}

#progress-bar #bar-fill {
	position: absolute;
	height: 100%;
	background-color: #666;
	display: block;
	height: 100%;
	border-radius: 8px;
}

#progress-bar #bar-fill #days{
	position:absolute;
	top: 2px;
	right: 5px;
	color:#fff;
	font-size:13px;
	font-family:"Oswald", sans-serif;
	font-weight: lighter;
}

#progress-bar p{
	padding-left: 10px;
}