/* interactive */

#process {
	width: 960px;
	height: 500px;
	margin: 60px auto 0 auto;
}

#wrapper {
	margin: 10px 0;
}

/* map stuff */

#map {
	float: left;
	width: 72%;
	height: 500px;
	border: 1px solid #ccc;
	background: #ececec;
	overflow: hidden;
	margin:0px;
	margin-top:12px;
}

path {
	fill: #fff;
}

.country, .state {stroke:#ccc; stroke-width:0.5px;}
path .highlight {fill:#ccc;}
.country.niger {fill:#ccc;}

path.boundary {
	fill: none;
	stroke: #ccc;
}

path.points {
	fill: none;
	stroke: #009BFF;
	stroke-width: 2px;
	stroke-linecap: round;
}

path.states {
	fill: none;
	stroke: #fff;
}

.lake {fill: #ececec;}

/* text area */

#text {
	float: left;
	width: 24%;
	margin:1% 0 1% 2%;
}

.slide-nav{
	cursor: pointer;
}

.slide-nav {
	background-image: url(../images/USATArrows.png);
	display:block;
	float:none;
	height:68px;
	width:44px;
	position:absolute;
	right:auto;
	top:50%;
	z-index: 99;
	overflow:hidden;
}

.slide-nav.next {
	background-position: -44px 0;
	right:-7px;
}

.slide-nav.next:hover {
	background-position: -44px -68px;
	right:-7px;
}

.slide-nav.prev {
	background-position: 0 0;
	left:-7px;
}

.slide-nav.prev:hover {
	background-position: 0 -68px;
	left:-7px;
}

#steps {
	display: block;
	width: 270px;
	margin: 0 auto;
}

.circle {
	float: left;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	margin: 5px 10px;
	background:#dfdfdf;
	/* width and height can be anything, as long as they're equal */
}

.step-active {
	background-color: #009BFF;
}

#headline {
	/*margin: 0px 0 5px 0;*/
	font-family:'Futura Today Bold', sans-serif;
	text-transform: uppercase;
}

#location {
	font: normal 12px/1.5 'Futura Today',sans-serif; 
	text-transform: uppercase;
	color: #009BFF;
	margin-bottom: 10px;
}

.body {
	font: normal 12px/1.5 'arial','helvetica',sans-serif; 
	color: #515151;
}

/*progress bar*/

#progress-bar {
	position: relative;
	margin: 0 auto 15px auto;
	width: 100%;
	height:18px;
	background-color: #f8f8f8;
	border-radius:8px;
}

#progress-bar #bar-fill {
	position: absolute;
	height: 100%;
	background-color: #dfdfdf;
	display: block;
	height: 100%;
	border-radius: 8px;
}

#progress-bar #bar-fill #days{
	position:absolute;
	right: 5px;
	color:#fff;
	font-size:13px;
	font-family: normal,"arial", "helvetica", sans-serif;
	font-weight: lighter;
}

#progress-bar p{
	padding-left: 10px;
}