#comm {
	width: 900px;
	margin: 80px auto;
	font-size: 12px;
	font-family: 'Ruda', Helvetica, Arial;
	font-weight: lighter;
}

#chart .axis path {
	fill: none;
	stroke: grey;
	shape-rendering: crispEdges;
}

.axis text,
.slider-axis text {
	fill: grey;
	font-size: 11px;
	font-family: "Gotham", sans-serif;
}

/*#chart circle {
	fill: #ff00ff;
}*/

circle.asia {
	fill: #1A374D;
}

circle.africa {
	fill: #C96916;
}

circle.europe {
	fill: #DAA520;
}

circle.sam {
	fill: #A4B48C;
}

/* text */

.asia {
	background-color: #1A374D;
}

.africa {
	background-color: #C96916;
}

.europe {
	background-color: #DAA520;
}

.sam {
	background-color: #A4B48C;
}

#chart-wrapper {
	position: relative;
	height: 500px;
	margin-bottom: 40px;
}

#chart,
#text {
	position: absolute;
	top: 0;
	left: 0;
}

#text {
	width: 60%;
	top: 20px;
	left: auto;
	right: 0;
	pointer-events: none;
}

h1 {
	font-family:'Ruda', Helvetica, sans-serif;
	font-size: 36px;
	color: #1A374D;
	font-weight: 700;
	line-height: 1.2em;
}

.chatter {
	margin-top: 10px;
	margin-bottom: 8px;
	font-size: 15px;
	font-family: 'Gotham', sans-serif;
	font-weight: lighter;
	line-height: 1.7em;
}

#xlabel{
	font-size: 13px;
	font-family: 'Gotham', sans-serif;
	color:grey;
	position:absolute;
	top:500px;
}

#ylabel{
	font-size: 13px;
	font-family: 'Gotham', sans-serif;
	text-align: center;
	width:100px;
	color:grey;
	position:absolute;
	top:245px;
	left:-465px;
}

#five{
	font-size: 11px;
	font-family: 'Gotham', sans-serif;
	line-height: 1.1em;
	color:grey;
	width:100px;
	position:absolute;
	top:500px;
	left:-270px;
}

#tooltip{
	width:200px;
	height:150px;
	background-color:#FEFEFE;
	border:1px solid #3580C3;
	z-index:1000;
	box-shadow: 5px 5px 5px #D4D4D4;
	position:absolute;
	top:200px;
	right:100px;
}

#key {
	position: absolute;
	right: 20px;
	width: 200px;
}

.key-row {
	position: relative;
	height: 16px;
	margin: 8px 0 0 50px;
	background-color: #D4D4D4;
}

.key-row p {
	position: absolute;
	top: 4px;
	left: -50px;
}

.key-row span {
	display: block;
	height: 100%;
}

#source {
	color: #646464;
	font-family: 'Gotham', sans-serif;
	font-size: 10px;
}

/* brush */

#slider {
	width: 400px;
	margin: 0 auto;
}

.slider-axis {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.slider-axis .domain {
	fill: none;
	stroke: #000;
	stroke-opacity: .3;
	stroke-width: 10px;
	stroke-linecap: round;
}

.slider-axis .slider-halo {
	fill: none;
	stroke: #ddd;
	stroke-width: 8px;
	stroke-linecap: round;
}

.slider-slider .slider-handle {
	fill: #fff;
	stroke: #000;
	stroke-opacity: .5;
	stroke-width: 1.25px;
	pointer-events: none;
}


/* slider */











