.state {
	fill: #c1c1c1;
	stroke: none;
}

path.boundary {
	fill: none;
	stroke: #ffffff;
	stroke-width: 1px;
}

.vendor {
	fill: red;
}

.drop {
	fill: blue;
}

.port {
	fill: #1a374d;
}

.line {
	fill:none;
	stroke:#1a374d;
	stroke-width: 1px;
}
/*.line.cal-western, .line.arthurdanielsmidland, .line.didion, .line.bunge {stroke:#C96916;}*/
/*
.cal-western:hover {stroke:black;	};
*/

#map{
	  background-color:#f5f5f5;
}
    #container {
	  width: 960px;
	  height: 500px;
	  margin: 60px auto 0 auto;
	  color: #282828;
	}
	.half {float:left; width:460px; margin-right:20px; display: block;}
	.half.last {margin-right:0px;}
	#processors #shippers {
		width: 480px;
        height: 250px;
        margin: 60px auto 0 auto;
        display: block;
        color: #282828;
	}

	.axis path {
	  display: none;
	}

	.axis line {
	  stroke: #eee;
	  /*stroke-opacity: .5;*/
	  shape-rendering: crispEdges;
	}

	.m75 {
		margin-left: 75px;
		font-size:22px;
	}

/*line colors*/
.cargill {stroke: #c96916;}
.archerdanielsmidland {stroke: #d48745;}
.cal-western {stroke: #dfa573;}
.bunge {stroke: #e9c3a2;}
.didion {stroke: #f4e1d0;}
.others48 {stroke: #1a374d;}
.line:hover{stroke:#000;}

/*bar colors*/
.bar.cargill {fill: #c96916;}
.bar.archerdanielsmidland {fill: #d48745;}
.bar.cal-western {fill: #dfa573;}
.bar.bunge {fill: #e9c3a2;}
.bar.didion {fill: #f4e1d0;}
.bar.others48 {fill: #1a374d;}

.bar.liberty-maritime {fill: #5b9ac3;}
.bar.maersk {fill: #7caecf;}
.bar.sealift {fill: #9dc3db;}
.bar.dome {fill: #bdd7e7;}
.bar.reliance {fill: #deebf3;}
.bar.others18 {fill: #1a374d;}





