.state {
	fill: #dcdcdc;
	stroke: none;
}

path.boundary {
	fill: none;
	stroke: #ffffff;
	stroke-width: 1px;
}

.vendor {
	fill: red;
}

.drop {
	fill: black;
}

.port {
	fill: black;
}

.line {
	fill:none;
	stroke:gray;
	stroke-width: 1px;
}
.line.cal-western, .line.arthurdanielsmidland, .line.didion, .line.bunge {stroke:#C96916;}

.cal-western:hover {stroke:black;	};