.int-wrap {
	background:#fff; 
	margin: 0 auto 20px; 
	padding: 0; 
	width: 100%; 
	max-width:1000px; 
	height:1050px;
	border-top: 1px solid #a2a5a1;
	border-bottom: 1px solid #a2a5a1;
	position: relative;
}

#int-title h2{
	color: #3c3c3c;
	font-size: 30px;
	font-family: 'Futura Today Light','arial';
	font-weight: normal;
	margin: 15px 0 5px;
	text-transform: uppercase;
	text-align: center;
}

#int-subhead{
	color: #7c7c7c;
	font: normal 14px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0 auto 20px;
	max-width: 830px;
	text-align: center;
}
.fourth {display:block; width:24%; float:left; margin-left:10px;}

td {
	text-align:left !important;
}

tr td h4{
	font-family:"Futura Today"; 
	font-size:14px;
	text-align:left;
}

tr:first-child td{
	border-right:1px solid #238443;
}

tr:first-child td.end{
	border-right:none;
}

#graphic {margin-bottom:20px;}
#graphic img {width:75%; margin-left:25%;}


td {padding:7px; width:21%; border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5;}
td.label, {width:10%;}
td.end {border-right:none;}

.label{
	 font-family:"Futura Today"; 
	 font-size:14px;
	 text-align:left;
}

tr.nutrition {background-color:#fff;}
tr.nutrition td.label{font-size:14px; text-align:left;}
tr.nutrition td {font-size:12px; sans-serif; text-align:left;}

/*p.body, .s4{
font-size: 12px;
font-family: normal, 'arial', 'helvetica', sans-serif;
font-weight: lighter;
line-height: 1.65em;
text-align: left;
}
*/